html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  --keySize: 5vw;
}

.wrapper {
  margin: 0 auto;
  width: 85vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
}

.textarea {
  margin-bottom: 3vw;
  min-height: 15vw;
  max-height: 35vh;
  box-sizing: border-box;
  padding: 1vw;
  resize: none;
  font-size: 2vw;
  overflow: auto;
  border: 2px solid #aaaaaa;
  border-radius: 1vw;
  background-color: #dddddd;
}

.keyboard__button {
  margin: 0.3vw;
  height: var(--keySize);
  padding-top: 2vw;
  background-color: #777777;
  text-align: center;
  font-size: 1.6vw;
  line-height: 1;
  border-radius: 0.5vw;
}

.keyboard__button_active {
  transform-origin: center;
  transform:scale(0.9);
  background-color: #8aff00;
}

.keyboard__button_width_100 {
  width: var(--keySize);
}

.keyboard__button_width_125 {
  width: calc(var(--keySize) * 1.25);
  flex-grow: 1;
}

.keyboard__button_width_150 {
  width: calc(var(--keySize) * 1.5);
  flex-grow: 1;
}

.keyboard__button_width_175 {
  width: calc(var(--keySize) * 1.75);
  flex-grow: 1;
}

.keyboard__button_width_200 {
  width: calc(var(--keySize) * 2);
  flex-grow: 1;
}

.keyboard__button_width_700 {
  width: calc(var(--keySize) * 7);
  flex-grow: 1;
}
